*.o
*.log
*.rpt
*.syn
*.pvl
*.mr
*log
*.html
*.pna
*.connview
*.iopin
*.padmaster
*.ar
*.msg
.*.swp
.*.*.swp
*.power
*.mtcmos
*.pwrview
*.pad_summary
*.missing_iopin
*.pwrview
.*.*.swp
*.power
*.mtcmos
*.pwrview
*.pad_summary
*.missing_iopin
*.pwrview
*.txt
*.evx
*.conclude
*.vpad
*.svf
*.output
run_details/
work/
legalizer_debug_plots/
icc_reports/
alib-52/
adrc/
results/
